@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
/* header start */
.header{
    width: 85%;
    margin:auto;
}
.header h2{
    margin-bottom: 40px;
}

.container{
    display: flex;
}

.half-width{
    width: 60%;
}
.half-width .title{
    font-size: 50px;
}
.half-width .description{
    margin: 30px;
}
.half-width .img{
   width: 75%;
   margin-left: 100px;
}
.blue{
    background-color: rgb(15, 15, 173);
    color: rgb(255, 254, 251);
    padding: 10px 30px;
    border-radius: 100px;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
}
/* header end */
/* logo style */
.logos{
    width: 85%;
    margin: 100px auto;
    padding: 40px 0;
    text-align: center;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
}
.logos img{
    margin: 15px;
}
.popular-collection{
    width: 80%;
    margin: auto;
}

.popular-collection .popular-title{
 font-size: 50px;
 text-align: center;
 margin: 50px 0;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.collection{
    padding: 10px;
    box-shadow: 2px 2px 20px 3px lightgrey;
    border-radius: 10px;
}
.collection img{
    width: 100%;
}
.collection .title{
    font-size: 40px;
}
.collection .price,.collection .ratings span,.collection .desc{
    color: rgb(87, 85, 85);
}
.collection .ratings i{
    color: rgb(240, 103, 57);
}
.see-more{
    text-align: end;
    font-weight: bold;
    text-decoration: none;
    color: rgb(240, 40, 80);
}
    

.contact{
    text-align: center;
}
.contact .hello{
    font-size: 50px;
}

input{
    width: 50%;
}



















@media screen and (max-width:700px) {
    .header{
        text-align: center;
    }
    .container{
        flex-direction: column;
    }
    .half-width{
        width: 100%;
    }
    .half-width .title{
        font-size: 40px;
    }
    .half-width .img{
        margin-left: 0;
    }
    .collections{
        grid-template-columns: repeat(1,1fr);
    }
    
}